<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>

<body>
    <div id="app" class="bg_body">
        <div class="container">
            <div class="row ">
                <div class="col-4 mt-5  g-0">
                    <div class="d-flex col-12 bg_header justify-content-between align-self-center">
                        <div class="d-flex m-2 ms-3">
                            <img class="img_avatar border rounded-circle" src="img/avatar_2.jpg" alt="">
                            <div class="align-self-center">SquallStrife_X</div>
                        </div>
                        <div class="d-flex align-self-center justify-content-end me-3">
                            <i class="fas fa-circle-notch p-2 trasparency"></i>
                            <i class="fas fa-message p-2 trasparency"></i>
                            <i class="fas fa-ellipsis-vertical p-2 trasparency"></i>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex bg_bluesky p-2">
                            <div class="bg-white border rounded-circle ms-3"><i
                                    class="fa-regular fa-bell-slash p-2 color_bluesky"></i></div>
                            <span class="ms-3 fw-bold text">Ricevi notifiche e nuovi messaggi <br> <span
                                    class="text-decoration-underline text_color">Attiva notifiche desktop</span></span>
                        </div>
                    </div>
                    <div class="col-12 bg-white g-4">
                        <nav class="navbar bg-body-tertiary">
                            <form class="container-fluid">
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1"><i
                                            class="fa-solid fa-magnifying-glass"></i></span>
                                    <input type="text" class="form-control" placeholder="Crea o inizia una nuova chat"
                                        aria-label="" aria-describedby="basic-addon1" v-model="search" @keyup="searchContact">
                                </div>
                            </form>
                        </nav>
                    </div>
                    <div class="col-12 bg-white pointer" v-for="(contact, index) in contacts" :key="index " @click= "showPg(index)" v-show="contact.visible">
                        <div class=" d-flex flex-wrap">
                            <div class="d-flex col-12 justify-content-between align-self-center ms-4 my-2">
                                <div class="d-flex">
                                    <img class="img_avatar border rounded-circle"
                                        :src="contacts[index].avatar" alt="">
                                    <div class="align-self-start ms-3">{{ contact.name }}<span
                                            class="text_color"><br> {{contacts[index].messages[contacts[index].messages.length - 1].date}}</span></div>
                                </div>
                                <div class="d-flex align-self-center justify-content-end">
                                    <div class="align-self-end me-5">12:00 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 mt-5 g-0" >
                  <div class="d-flex col-12 bg_header justify-content-between align-self-center">
                    <div class="d-flex m-2 " >
                      <img class="img_avatar border rounded-circle"
                          :src="contacts[currentPg].avatar" alt="">
                      <div class="align-self-start ms-3">{{ contacts[currentPg].name }}<span
                              class="text_color"><br> {{contacts[currentPg].messages[contacts[currentPg].messages.length - 1].date}}</span>
                            </div>
                  </div>
                    <div class="d-flex align-self-center justify-content-end me-3">
                        <i class="fa-solid fa-magnifying-glass p-2 trasparency"></i>
                        <i class="fa-solid fa-paperclip trasparency p-2"></i>
                        <i class="fas fa-ellipsis-vertical p-2 trasparency"></i>
                    </div>
                </div>
               <div class="col-12 height_50 bg-chat">
                <div class="d-flex  " :class="{ 'justify-content-end': message.status === 'sent'} " v-for="(message, messageIndex) in contacts[currentPg].messages" :key="message.date">
                    <div class="dropdown"> 
                         <span  class=" m-4 padding_left bordo position-relative btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" :class="{ 'bg-success': message.status === 'sent', 'bg-white' : message.status == 'received' } ">{{ message.message }}<span class="position-x">{{message.date}}</span>
                      </span>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Informazioni</a></li>
                          <li ><a class="dropdown-item" href="#" @click="deleteMessage(currentPg, messageIndex)" >Cancella Messaggio</a></li>
                        </ul>
                      </div>
                 
                  
                </div>
                  </div>
                  <div class="col-12 bg_header d-flex">
                    <i class="fa-regular fa-face-smile fa-xl p-4"></i>
                    <input type="text" class="form-control m-2" placeholder="Scrivi qualcosa..." aria-label="Username" v-model="newMessage" aria-describedby="addon-wrapping"  @keyup.enter="pushArray()">
                    <i class="fa-solid fa-microphone fa-xl p-4"></i>
                   </div>
                </div>
              
               </div>
            
                </div>
            </div>
            
          
        </div>
    </div>
    
    <script src="luxon.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="./js/script.js"></script>
</body>

</html>